@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tribute to Nelson Mandela</title>
    <style>
  

    </style>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1>Tribute to Nelson Mandela</h1>
    </header>
    <div class="content">
        <div class="image-container">
            <img src="https://wallpapercave.com/wp/wp5794345.jpg" alt="Nelson Mandela">
        </div>
        <div class="bio">
            <p>Nelson Mandela was a South African anti-apartheid revolutionary, political leader, and philanthropist who served as President of South Africa from 1994 to 1999. He was the country's first black head of state and the first elected in a fully representative democratic election. His government focused on dismantling the legacy of apartheid by tackling institutionalized racism, poverty, and inequality.</p>
            <p>Throughout his life, Mandela remained committed to social justice, human rights, and reconciliation. He received numerous honors, including the Nobel Peace Prize in 1993, for his efforts to dismantle apartheid and foster racial harmony. Mandela's legacy continues to inspire people around the world to fight for equality and justice.</p>
            <div class="quote">
                <p>"It always seems impossible until it's done." - Nelson Mandela</p>
            </div>
        </div>
    </div>
    <footer>
        <p>Created by Muhammad Zakariya Ismail</p>
    </footer>
</body>
</html>
